@font-face {
  font-family: 'TT Lakes';
  src: url('./fonts/TTLakes.zip-Regular.woff2') format('woff2'),
       url('./fonts/TTLakes.zip-Regular.woff') format('woff'),
       url('./fonts/TTLakes.zip-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  body {
  font-family: Arial, sans-serif;
  padding: 5px;
  background: #f8f8f8;
}

@media (min-width: 320px) and (max-width: 767px){
 .brands__tab { display: none;}
.brands {
  max-width: 320px;
  margin: 0 auto;
}
.brands__list {
  display: flex;
  gap: 12px;
}
.brands__title {
  font-size: 16px;
  font-weight: 500;
  color: #7a7a7a;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.swiper {
  width: 100%;
  position: relative;
  padding-bottom: 24px; /* место для пагинации */
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px; /* фиксированная ширина для 320px */
  padding: 12px 16px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.brand-card button {
  width: 32px;
  height: 32px;
  border: 1px solid #ff004d;
  border-radius: 50%;
  background: none;
  color: #ff004d;
  cursor: pointer;
}

.brand-card button:hover {
  background: #ff3366;
  color: #fff;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #9b9898;
  display: inline-block;
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  background: #666565;
}
.brand-card {
  width: 80px;              /* фиксированная ширина карточки */
  height: 40px;             /* контейнер под лого */
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-card img {
  max-width: 100%;          
  max-height: 32px;         /* фиксированная высота */
  object-fit: contain;      /* пропорции */
  display: block;
  margin: 0 auto;
}
}

@media (min-width: 768px) and (max-width: 1119px) {
  .brands {display: none;}
  .brands__tab {
  max-width: 768px;
  margin: 0 auto;
  display: block;
}
.swiper-wrapper {
    display: contents; /* отключаем слайдер, используем только сетку */
    transform: none;
  }
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 768px; /* фиксированная ширина для 768px */
  background: #fff;
  border-radius: 12px;
  border: 1px solid #ddd;
}
.brands__listt {
  margin-top: 20px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 в ряд */
  grid-template-rows: repeat(2, auto);   /* 2 ряда */
  gap: 16px;
}
.brands__title {
  margin-top: 20px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  color: #7a7a7a;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.brand-cardt button {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border: 1px solid #ff004d;
  border-radius: 50%;
  background: none;
  color: #ff004d;
  cursor: pointer;
}

.brand-cardt button:hover {
  background: #ff3366;
  color: #fff;
}

.brand-cardt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border: 2px solid #ddd;   
  border-radius: 12px;
  background-color: #fff;
  width: 230px;              /* фиксированная ширина для всех карточек */
  box-sizing: border-box;    /* чтобы padding и border не увеличивали ширину */
}

.brand-cardt img {
  height: 32px;              
  width: auto;       
  object-fit: contain;      /* пропорции */
  
}
.brands__listt .brand-cardt:nth-child(n+7) {
    display: none !important;
  }
}
